<div class="taskeditPage">
  <div class="container">
    <%= form_with model: @task, url: { action: :update }, html: { class: 'taskForm' }, local: true do |f| %>
      <% if @task.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <%= f.label :"Task title" %>
      <%= f.text_field :title, class: "form-control taskName", placeholder: "Task Name" %>
      <div class="text-center"><%= f.submit "Update", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>
